@use '../variables'
@use '../mixins'

.technologies-container
  margin-bottom: 1rem

  .technologies-grid
    display: flex
    flex-wrap: wrap
    gap: 1.5rem

    .technology-card
      @include mixins.center
      gap: 1rem
      padding: 1rem
      border: 1px solid #333
      width: 45%
      border-radius: variables.$container-border-radius
      justify-content: space-around

      h3
        color: variables.$text-color

      svg
        font-size: 6rem

    #html
      svg
        color: red

    #css
      svg
        color: red

    #js
      svg
        color: red

    #node
      svg
        color: red

    #python
      svg
        color: red

    #react
      svg
        color: red
